.search-bar {
    width: 220px;
    height: 27px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search-bar__input {
    width: 50px;
    border: none;
    -webkit-appearance: none;
    text-align: center;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
} 
.search-bar__input:focus {
    outline: none;
    width: 300px;
    text-align: left;
}
.fa-search {
    font-size: 15px;
}
input {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    padding: 5px 5px;
    text-indent: 30px;
    
    width: 120px;
}
input:focus {
    background-image: none;
    background-position: -10px center;
    text-indent: 0;
    width: 50%;
}